.product {
  text-align: center; /* выравнивание содержимого по центру */
  margin: 0 auto; /* отступ сверху и снизу - 0, отступ слева и справа - автоматически (для центрирования) */
  max-width: 600px; /* максимальная ширина блока */
}

.product img {
  display: block; /* изображение должно быть блочным элементом */
  margin: 0 auto; /* отступ сверху и снизу - 0, отступ слева и справа - автоматически (для центрирования) */
}
