{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock style %}
{% block content %}

<div class="container">
    <h1>Личный профиль</h1>
    <div class="profile-info">
        {% if user.photo %}
        <img src="{{ user.photo.url }}" alt="Product 1">
        {% else %}
        <img src="{% static 'img/8.jfif' %}" alt="Profile Picture">
        {% endif %}
        <div class="profile-details">
            <h2>{{ user.username }}</h2>
            <p>Mail:{{ user.email }}</p>
            <p>Phone:{{ user.phone }}</p>
            <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.photo.id_for_label}}">Сменить фото:</label>
                    {{ form.photo }}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}